.articlesInner{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 40px;
    @media(max-width: 900px){
        flex-direction: column;
        align-items: center;
    }
    @media(max-width: 550px){
        padding-bottom: 20px;
    }
}

.header{
    text-transform: uppercase;
    color: #333;
    font-size: 20px;
    margin-bottom: 30px;
    @media(max-width: 550px){
        margin-bottom: 15px;
        font-size: 18px;
    }
}