.headerLine{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 20px;
    @media(max-width: 1200px){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}

.noArtImg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.header{
    color: #333;
    font-size: 20px;
    text-transform: uppercase;
    @media(max-width: 550px){
        font-size: 18px;
    }
}

.date{
    color: rgb(97, 97, 97);
    font-size: 12px;
    align-self: flex-end;
    @media(max-width: 1200px){
        align-self: flex-start;
    }
}

.content{
    padding-bottom: 50px;
    @media(max-width: 550px){
        padding-bottom: 25px;
    }
}

.startLine{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #c5c5c5;
    @media(max-width: 900px){
        flex-direction: column;
    }
}

.startLineText{
    color: #333;
    font-size: 14px;
    width: 60%;
    text-align: center;
    @media(max-width: 900px){
        width: 100%;
    }
    @media(max-width: 550px){
        font-size: 13px;
    }
}

.likes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    @media(max-width: 550px){
        margin-top: 15px;
    }
}

.count{
    font-weight: 600;
    color: #333;
    margin-left: 5px;
    cursor: default;
}