.item{
    display: flex;
    align-items: center;
    border: 1px solid rgb(194, 194, 194);
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
    &:hover{
        border: 1px solid rgba(74, 189, 255, 0.658);
        & .title{
            color: rgb(0, 109, 173);
        }
    }
}

.info{
    width: 80%;
    padding: 5px 10px;
    padding-left: 20px;
    font-size: 14px;
    color: #333;
    display: flex;
    flex-direction: column;
    @media(max-width: 550px){
        padding: 10px;
        width: calc(100% - 120px);
    }
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width: 550px){
        width: 120px;
        justify-content: flex-start;
        align-self: flex-start;
    }
}

.title{
    @media(max-width: 550px){
        font-size: 12px;
    }
}

.date{
    margin-top: 10px;
    font-size: 10px;
    color: rgb(124, 124, 124);
    align-self: flex-end;
    padding: 5px 10px;
    @media(max-width: 550px){
        padding: 5px;
    }
}