.last{
    display: flex;
    color: #333;
    gap: 20px;
    margin-bottom: 40px;
}

.articles, .programs{
    width: 50%;
}

.title{
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
}