.header{
    margin: 25px 0 15px;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
}

.list{
    color: #333;
    font-size: 14px;
    @media(max-width: 550px){
        padding-left: 20px;
        & li{
            margin-top: 5px;
        }
    }
}