.header{
    color: #333;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 20px;
}

.noProgImg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.content{
    padding-bottom: 50px;
}

.startLine{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #c5c5c5;
}

.startLineText{
    color: #333;
    font-size: 14px;
    width: 60%;
    text-align: center;
}

.end{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #c5c5c5;
    color: #333;
    font-size: 14px;
}